flows (1).json
[{"id":"beacffbb.4195c","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"470ac844.345b98","type":"ibmiot in","z":"beacffbb.4195c","authentication":"apiKey","apiKey":"fcb5c181.ed98f","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1503","applicationId":"","deviceType":"sensornode","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":200,"wires":[["9a768cf1.11609","d41a13e1.adf78","5f7a49a0.17ab08"]]},{"id":"9a768cf1.11609","type":"debug","z":"beacffbb.4195c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":200,"wires":[]},{"id":"d41a13e1.adf78","type":"ui_gauge","z":"beacffbb.4195c","name":"","group":"502c211f.31c51","order":0,"width":0,"height":0,"gtype":"gage","title":"BP","label":"units","format":"{{msg.payload.BP}}","min":"80","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":320,"wires":[]},{"id":"5f7a49a0.17ab08","type":"ui_gauge","z":"beacffbb.4195c","name":"","group":"fcbc7ccd.0ab44","order":0,"width":0,"height":0,"gtype":"gage","title":"ECG","label":"units","format":"{{msg.payload.ECG}}","min":"60","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":300,"y":440,"wires":[]},{"id":"44015ac6.20a604","type":"cloudant out","z":"beacffbb.4195c","name":"","cloudant":"","database":"sensordata","service":"node-red-tgfiy-2020--cloudant-1601540704563-63993","payonly":true,"operation":"insert","x":300,"y":120,"wires":[]},{"id":"fcb5c181.ed98f","type":"ibmiot","z":"","name":"newkey api","keepalive":"60","serverName":"023vhh.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"502c211f.31c51","type":"ui_group","z":"","name":"BP","tab":"29aa425b.30039e","order":5,"disp":true,"width":"6","collapse":false},{"id":"fcbc7ccd.0ab44","type":"ui_group","z":"","name":"ECG","tab":"29aa425b.30039e","order":6,"disp":true,"width":"6","collapse":false},{"id":"29aa425b.30039e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]